<h2>Web Console</h2>

<p>
    Notice that the configured builder for the project is different from the default builder for app projects. This
    builder, among other things, ensures that the library is always built with the AOT compiler, without the need to
    specify the <code>--prod</code> flag.

    To make library code reusable you must define a public API for it. This "user layer" defines what is available to
    consumers of your library. A user of your library should be able to access public functionality (such as NgModules,
    service providers and general utility functions) through a single import path.

    The public API for your library is maintained in the public-api.ts file in your library folder. Anything exported
    from this file is made public when your library is imported into an application. Use an NgModule to expose services
    and components.

    Your library should supply documentation (typically a README file) for installation and maintenance.
</p>